header{background-color: navy; height:50px; width:100%}
nav{padding: 2px; display:flex; }

li{display: inline;}
li a{ color: white; text-decoration: none; }
li a:hover{color:orange}
ul{ display: flex; gap:20px}

#hero{padding-top: 10px}
.hero-section{
    display: flex;
    gap:20px
}
p{text-align: justify; line-height: 40px;}


#services{
    display: flex;
    gap:20px
}